# Environment
.env

# Python
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Database
*.db

# Node / Angular
node_modules/
.angular/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs
*.log
